<!--COUPLE SECTION-->
<section id="couple-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center animation fadeInUp">
        <h2 class="h4">HAPPY COUPLE</h2>
        <p class="intro-text">Mike and All love to be on the go. From The Golden Gate Bridge to Fenway park, there is no boundary to their love. To them, its not about the miles per gallon, but the smiles per gallon. They are excited to embark on this new journey  together.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInLeft">

          <!--HIS-PHOTO-->
          <img src="./assets/img/my_love.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <div class="photo-name his-front-name">Mike</div>
                <div class="photo-name his-last-name">Nelson</div>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <div class="couple-excerpt animation fadeInLeft">
          <h2 class="h5">THE GROOM</h2>
          <p>Mike Nelson hails from Cottonwood Heights. Son of Scott and Carol Nelson, he is the second youngest of five kids. He is killer at free-throw contests and most loves Alli’s smile that he believes, lights the world.</p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInRight">

          <!--HER-PHOTO-->
          <img src="./assets/img/my_love.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->


          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <div class="photo-name her-front-name">Alli</div>
                <div class="photo-name her-last-name">Jarrett</div>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <div class="couple-excerpt animation fadeInRight">
          <h2 class="h5">THE BRIDE</h2>
          <p>Allison Jarrett reigns from Hyde Park. Favorite daughter of Clark and Lisa Jarrett, she is the middle of five children. She is a creative mastermind. She most adores Mike’s caring personality and warm snuggles.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- END of COUPLE SECTION-->
