<!--COUPLE SECTION-->
<section id="couple-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center animation fadeInUp">
        <h2 class="h4">HAPPY COUPLE</h2>
        <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis. Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInLeft">

          <!--HIS-PHOTO-->
          <img src="http://placehold.it/453x453" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <div class="photo-name his-front-name">Albert</div>
                <div class="photo-name his-last-name">Fred</div>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <div class="couple-excerpt animation fadeInLeft">
          <h2 class="h5"><a href="./assets/pages/him-popup-template.html" class="magnific-ajax">THE GROOM</a></h2>
          <p>Sed tempor purus neque, luctus rutrum libero posuere quis. Sed sit amet nisl quam. Mauris elit enim, imperdiet a mollis ac, vestibulum scelerisque est. Maecenas egestas nunc at interdum scelerisque. Proin vel orci porta, dignissim lacus vitae, tincidunt leo. Duis auctor nunc leo.</p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInRight">

          <!--HER-PHOTO-->
          <img src="http://placehold.it/453x453" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->


          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <div class="photo-name her-front-name">Emily</div>
                <div class="photo-name her-last-name">Camila</div>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <div class="couple-excerpt animation fadeInRight">
          <h2 class="h5"><a href="./assets/pages/her-popup-template.html" class="magnific-ajax">THE BRIDE</a></h2>
          <p>Ut malesuada sed est sed porttitor. Vestibulum quis turpis at lacus commodo elementum sit amet et mauris. In non ligula facilisis, gravida felis at, consequat diam. Suspendisse at ante felis. Quisque sem risus, pellentesque vitae mauris ut, sagittis consequat enim. Maecenas ac nisl condimentum. </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- END of COUPLE SECTION-->
