<!--INTEREST PLACES SECTION-->
<section id="interest-places-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 class="h4 animation fadeInUp">PLACES OF INTEREST</h2>
        <p class="intro-text animation fadeInUp">We are so excited to get married and have you celebrate and share our special day with us! We want our day to be a joyous day for all. Below are some of our favorite things and places in Cache Valley, that we hope you will enjoy as well!</p>
      </div>
    </div>
    <div class="row">
      <!-- EVENTS CAROUSEL -->
      <div id="events-carousel" class="owl-carousel animation fadeInUp">

        <!-- ITEM-1 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#c2f2d0">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Aggie Ice Cream</h5>
            </div>
            <div class="places-desc">
              Enjoy some Aggie Ice Cream at their creamery. Show some USU pride by ordering some Aggie Blue Mint. While there, take a peek at the campus, where Alli studies Family Finance.
            </div>
          </div>

        </div><!--END of ITEM-1-->


        <!-- ITEM-2 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#ffcb85">
              <i class="icon-cheese"></i>
            </div>
            <div class="places-title">
              <h5>Gossner's Cheese</h5>
            </div>
            <div class="places-desc">
              Cache Valley’s famous cheese factory is one of our favorites.  Smoked Cheese Curd and root-beer milk is a must buy whenever we stop. Their shelf-stable milk is good for food-storage.
            </div>
          </div>

        </div><!--END of ITEM-2-->


        <!-- ITEM-3 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#c2f2d0">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Casper's Ice Cream</h5>
            </div>
            <div class="places-desc">
              Want to drink a liquid brick? Perhaps buy a case of Fat-Boys (Ice Cream Sandwiches)? If so, this is the place for you. Don’t forget to grab something for us while you’re there.
            </div>
          </div>

        </div><!--END of ITEM-3-->


        <!-- ITEM-4 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#800020">
              <i class="icon-pajamas"></i>
            </div>
            <div class="places-title">
              <h5>Lazy One Outlet</h5>
            </div>
            <div class="places-desc">
              Lazy One is a Punny PJ shop founded by Alli’s neighbor and is sold all over the US. Stop by the outlet store to buy new family PJ’s.
            </div>
          </div>

        </div><!--END of ITEM-4-->

        <!-- ITEM-5 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#800020">
              <i class="icon-socks"></i>
            </div>
            <div class="places-title">
              <h5>Sock Outlet</h5>
            </div>
            <div class="places-desc">
              Looking for socks? Look no further than the sock outlet- which has every type and style of socks your heart can desire.
            </div>
          </div>

        </div><!--END of ITEM-5-->
        <!-- ITEM-6 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#fdf5c9">
              <i class="icon-zoo"></i>
            </div>
            <div class="places-title">
              <h5>Zootah (Formally Willow Park Zoo)</h5>
            </div>
            <div class="places-desc">
              Logan’s Humble Zoo is fun for kids and adults. Spot the Turtles, feed the fish and deer, see and hear the free roaming peacocks, or have a picnic in the grass area.
            </div>
          </div>

        </div><!--END of ITEM-6-->
        <!-- ITEM-7 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#6b3e26">
              <i class="icon-cracker"></i>
            </div>
            <div class="places-title">
              <h5>Pepperidge Farm</h5>
            </div>
            <div class="places-desc">
              Pepperidge Farm makes delicious treats like goldfish, milano cookies, and pirouettes. Buy them (and other Peperidge Farm products) in bulk at their factory store.
            </div>
          </div>

        </div><!--END of ITEM-7-->
        <!-- ITEM-8 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#e12301">
              <i class="icon-pizza"></i>
            </div>
            <div class="places-title">
              <h5>Firehouse Pizzaria (Logan Location)</h5>
            </div>
            <div class="places-desc">
              Our favorite pizza place in Logan and Smithfield! If you go, make sure you try their focaccia bread with one of their many dipping sauces.
            </div>
          </div>

        </div><!--END of ITEM-8-->
        <!-- ITEM-9 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#c2f2d0">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Charlie's Ice Cream</h5>
            </div>
            <div class="places-desc">
              A cute little ice cream shop on main street
            </div>
          </div>

        </div><!--END of ITEM-9-->
        <!-- ITEM-10 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#e12301">
              <i class="icon-burrito"></i>
            </div>
            <div class="places-title">
              <h5>Cafe Sabor</h5>
            </div>
            <div class="places-desc">
              Our Favorite Mexican restaurant, located in an old train stop platform. Their Fajitas, Burritos, and Fried Ice Cream are our favorites!
            </div>
          </div>

        </div><!--END of ITEM-10-->
        <!-- ITEM-11 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#e12301">
              <i class="icon-eggs-icon"></i>
            </div>
            <div class="places-title">
              <h5>Ritewood Eggs (Napoleon Dynamite)</h5>
            </div>
            <div class="places-desc">
            </div>
          </div>

        </div><!--END of ITEM-11-->
        <!-- ITEM-12 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-dam"></i>
            </div>
            <div class="places-title">
              <h5>First Dam</h5>
            </div>
            <div class="places-desc">
            </div>
          </div>

        </div><!--END of ITEM-12-->
        <!-- ITEM-14 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#e12301">
              <i class="icon-pizza"></i>
            </div>
            <div class="places-title">
              <h5>Firehouse Pizzeria Smithfield</h5>
            </div>
            <div class="places-desc">
              Our favorite pizza place in Logan and Smithfield! If you go, make sure you try their focaccia bread with one of their many dipping sauces.
            </div>
          </div>

        </div><!--END of ITEM-14-->


      </div><!--END of EVENTS CAROUSEL-->
    </div>
  </div>
</section>
<!-- END of INTEREST PLACES SECTION-->
