<!--INTEREST PLACES SECTION-->
<section id="interest-places-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 class="h4 animation fadeInUp">PLACES OF INTEREST</h2>
        <p class="intro-text animation fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis. Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>
      </div>
    </div>
    <div class="row">
      <!-- EVENTS CAROUSEL -->
      <div id="events-carousel" class="owl-carousel animation fadeInUp">

        <!-- ITEM-1 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#fc9e9e">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Aggie Ice Cream</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-1-->


        <!-- ITEM-2 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#e9c24c">
              <i class="icon-cheese"></i>
            </div>
            <div class="places-title">
              <h5>Gossners Cheese</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-2-->


        <!-- ITEM-3 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#bfd730">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Caspers Ice Cream</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-3-->


        <!-- ITEM-4 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#8fcbda">
              <i class="icon-pajamas"></i>
            </div>
            <div class="places-title">
              <h5>Lazy One Outfitters</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-4-->

        <!-- ITEM-5 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-socks"></i>
            </div>
            <div class="places-title">
              <h5>Sock Outlet</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-5-->
        <!-- ITEM-6 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-zoo"></i>
            </div>
            <div class="places-title">
              <h5>Zootah (Formally Willow Park Zoo)</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-6-->
        <!-- ITEM-7 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-cracker"></i>
            </div>
            <div class="places-title">
              <h5>Pepperidge Farms</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-7-->
        <!-- ITEM-8 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-pizza"></i>
            </div>
            <div class="places-title">
              <h5>Firehouse Pizzaria (Logan Location)</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-8-->
        <!-- ITEM-9 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-ice-cream"></i>
            </div>
            <div class="places-title">
              <h5>Charlies Ice Cream</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-9-->
        <!-- ITEM-10 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-burrito"></i>
            </div>
            <div class="places-title">
              <h5>Cafe Sabor</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-10-->
        <!-- ITEM-11 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-eggs-icon"></i>
            </div>
            <div class="places-title">
              <h5>Ritewood Eggs (Napoleon Dynamite)</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-11-->
        <!-- ITEM-12 -->
        <div class="item">

          <div class="places-card">
            <div class="de-icon inline medium-size circle" style="background-color:#797ee6">
              <i class="icon-dam"></i>
            </div>
            <div class="places-title">
              <h5>First Dam</h5>
            </div>
            <div class="places-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>

        </div><!--END of ITEM-12-->


      </div><!--END of EVENTS CAROUSEL-->
    </div>
  </div>
</section>
<!-- END of INTEREST PLACES SECTION-->
