<!--WEDDING SECTION-->
<section id="wedding-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 class="h4 animation fadeInUp">OUR WEDDING</h2>
        <p class="intro-text animation fadeInUp">Suspendisse nec dui ut turpis posuere sagittis viverra tincidunt lectus. Sed faucibus tristique purus, ac mattis lorem malesuada vel. Sed dignissim, orci eu porttitor suscipit, dolor mauris elementum dolor, eget posuere dui ante vel quam. Donec ut lacinia est, et convallis augue.</p>
      </div>
    </div>
    <div class="row">
      <!-- ITEM-1 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="http://placehold.it/500x415" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="#" class="de-button small rounded">
                  MORE
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">RECEPTION</a></h5>
          <p>Nullam ultricies arcu a neque imperdiet, vitae lacinia nisi congue. Nullam eget.</p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-1 -->


      <!-- ITEM-2 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="http://placehold.it/500x415" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="#" class="de-button small rounded">
                  MORE
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">CEREMONY</a></h5>
          <p>Phasellus vehicula nisi magna, vitae placerat orci porta id. Aliquam sagittis ac.</p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-2 -->


      <!-- ITEM-3 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="http://placehold.it/500x415" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="#" class="de-button small rounded">
                  MORE
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">STAYING OVERNIGHT?</a></h5>
          <p>Donec ex ex, ullamcorper eget faucibus ac, sollicitudin at mauris. Nunc libero eros. </p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-3 -->


    </div>
  </div>
</section>
<!-- END of WEDDING SECTION-->
