<!--WEDDING SECTION-->
<section id="wedding-section" class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 class="h4 animation fadeInUp">OUR WEDDING</h2>
        <p class="intro-text animation fadeInUp"></p>
      </div>
    </div>
    <div class="row">
      <!-- ITEM-1 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="./assets/img/reception.jpeg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">RECEPTION</a></h5>
          <p>Our Reception will be held on May 13, 2017 from 6-8 PM at Lion’s Park: Upper Pavilion, in Hyde Park.</p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-1 -->


      <!-- ITEM-2 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="./assets/img/logantemple.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">
              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">CEREMONY</a></h5>
          <p>We will be getting married in the Logan Temple on May 12, 2017 at 3:00 PM. Please arrive an half hour early for the ceremony.</p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-2 -->


      <!-- ITEM-3 -->
      <!-- =================================================================== -->
      <div class="col-md-4 col-sm-4 wedding-item-wrapper">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInUp">

          <!--PHOTO-->
          <img src="./assets/img/daysinn.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->

        <!-- TITLE & EXCERPT -->
        <div class="title-excerpt animation fadeInUp text-center">
          <h5><a href="#">STAYING OVERNIGHT?</a></h5>
          <p>Please contact Mike or Alli if you need assistance in finding a place to stay. </p>
        </div>
        <!-- END of TITLE & EXCERPT -->

      </div><!-- END of ITEM-3 -->


    </div>
  </div>
</section>
<!-- END of WEDDING SECTION-->
