<!-- OUR STORY SECTION -->
<section id="story-section" class="section-block">

  <div class="container">

    <!-- ROW-1 -->
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 class="h4 animation fadeInUp">THE STORY</h2>
        <p class="intro-text animation fadeInUp"></p>
      </div>
    </div><!-- END of ROW-1 -->


    <!-- STORY ROW-1-->
    <div class="row story-row">

      <div class="col-sm-12 col-md-5 text-center">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation delay1 fadeInLeft">

          <!--PHOTO-->
          <img src="./assets/img/my_love.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="./assets/img/my_love.jpg" class="magnific-zoom" title="Our First Met">
                  <div class="de-icon circle light medium-size inline">
                    <i class="de-icon-zoom-in"></i>
                  </div>
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->
      </div>

      <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
        <div class="story-date">
          <div class="the-month">JULY</div>
          <div class="the-year">2015</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
        <h5>WE FIRST MET</h5>
        <p>For a long time, many people told Alli she should try online dating. One day at work, someone mentioned it to her. Enough was enough. She decided to try online dating, knew she would hate it, and then she could shut it down whenever anyone suggested it ever again. She signed up for ldsplanet for one month. The day before her month subscription expired, she decided to take her first look at what kind of guys were out there.  She looked at four profiles. One in particular was intriguing- a handsome guy who had a lot of the same interests as her. She worked up the nerve to message him- explaining that her subscription expired the next day, but gave him her phone number, in case he was interested. Mike received the message and looked at her profile. He thought akjarrett0425 looked fun and adventurous. The next day,  Mike text Alli saying, “The next time you give someone your number, you should maybe include your name.” </p>
      </div>

      <div class="vertical-line">
      </div>

    </div><!-- END of STORY ROW-1 -->

    <!-- STORY ROW-2-->
    <div class="row story-row">

      <div class="col-sm-12 col-md-5 col-md-push-7 text-center">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation delay1 fadeInLeft">

          <!--PHOTO-->
          <img src="./assets/img/my_love.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="./assets/img/my_love.jpg" class="magnific-zoom" title="Our First Date">
                  <div class="de-icon circle light medium-size inline">
                    <i class="de-icon-zoom-in"></i>
                  </div>
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->
      </div>

      <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
        <div class="story-date">
          <div class="the-month">OCT</div>
          <div class="the-year">2015</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInRight">
        <h5>FIRST DATE</h5>
        <p>Alli had only been moved into her house for one week, when Mike reached out to her. Four Days later, they had their first date. Mike surprised Alli with a pink tape measure as a housewarming gift. Little did he know that pink is her favorite color. The two went to Este Pizza, toured progression, and had a NSYNC sing along. They have been inseparable ever since.
        </p>
      </div>

      <div class="vertical-line">
      </div>

    </div><!-- END of STORY ROW-2 -->

    <!-- STORY ROW-3-->
    <div class="row story-row">

      <div class="col-sm-12 col-md-5 text-center">
        <!--PHOTO-ITEM-->
        <div class="photo-item animation delay1 fadeInLeft">

          <!--PHOTO-->
          <img src="./assets/img/my_love.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--ICON LINK-->
          <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="./assets/img/my_love.jpg" class="magnific-zoom" title="He Proposed">
                  <div class="de-icon circle light medium-size inline">
                    <i class="de-icon-zoom-in"></i>
                  </div>
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->
      </div>

      <div class="col-md-2 text-center story-date-wrapper animation fadeIn">
        <div class="story-date">
          <div class="the-month">OCT</div>
          <div class="the-year">2016</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
        <h5>HE PROPOSED</h5>
        <p>While the couple was swimming, Mike claimed he needed to leave to let in his renters. On their way to his house, they passed a police officer, who pulled Mike over. After a trip to his truck, The Police Officer made Mike get out of his car due to a non-registered vehicle. Alli became distracted looking for a valid registration to get Mike out of his conundrum. The Police Officer returned to the car mutltiple times, claiming to look for things, and told Alli he may need her to step out of the car. Alli continued to search. The police officer eventually returned to the car and handed Alli a ticket, claiming the only way Mike would escape all the trouble he’s in, is if All would read this ticket, charging her with Stealing Mike’s Heart, robbing him of his senses, and trespassing his Dreams. The Sentence? Eternity with Mike. Mike then appeared at Alli’s door with a dozen red roses and a beautiful ring. He confessed his love, popped the question, and she said ‘yes!’</p>
      </div>

      <div class="vertical-line">
      </div>

    </div><!-- END of STORY ROW-3 -->


    <!-- STORY LAST ROW-->
    <div class="row">

      <div class="col-md-12 text-center story-date-wrapper animation fadeIn">
        <div id="last-row-date-wrapper">

          <div class="vertical-line">
          </div>
          <div class="story-date">
            <div class="the-month">MAY</div>
            <div class="the-year">2017</div>
          </div>

        </div>
        <div id="end-of-story" class="animation fadeInUp">
          <h4>WE ARE GETTING MARRIED</h4>
        </div>
      </div>

    </div><!-- END of STORY LAST ROW -->

  </div><!-- END of CONTAINER -->

</section>
