<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div id="slide-couplename-wrapper" class="animation delay1 fadeInUp">

                <div id="slide-couplename" class="scale75-onmobile">
                  <div id="slide-his-name">
                    Mike
                  </div>
                  <div id="slide-and-text">
                    <div id="curve-graphic">
                      <img src="../../assets/img/and-banner.png" alt="">
                    </div>
                    <div id="and-text">
                      and
                    </div>
                  </div>
                  <div id="slide-her-name">
                    Alli
                  </div>
                </div>
                <h1 id="slide-other-text" class="animation delay2 fadeInUp">
                  WE ARE GETTING MARRIED
                </h1>

              </div>

            </div>
          </div>
        </div>

        <!-- DOWN ARROW -->
        <div id="slide-arrow">
          <div class="bounceloop">
            <a href="#content" class="animation fadeIn smooth-scroll"><i class="de-icon-down-open"></i></a>
          </div>
        </div>
        <!-- DOWN ARROW -->

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:center 80%;">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.3"> </div>

    </li>

  </ul><!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->
